/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/
.del {
  width: 200px;
  height: 50px;
  cursor: pointer;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.row.manga-table.striped:nth-of-type(2n) {
  background: beige!important;
}